

.smoky-label {
    font-size: 20px;
    width: 300px;
    text-align: right;
}

.smoky-value {
    font-size: 40px;
    width: 200px;
    text-align: right;
    color: yellow;
}

.smoky-unit {
    font-size: 30px;
    width: 60px;
    padding-left: 15px;
}

td{
  vertical-align: middle;
}