/* You can add global styles to this file, and also import other style files */

#page-wrap {
     width: 900px;
     margin: 0 auto;
}

body {
    background-color: #222;
    font-family: verdana;
    color: #bbb;
}


